<div class="field form-group">
	<%= manager.label :nombre_completo %><br />
	<%= manager.text_field :name, :class => "form-control" %>
</div>
<div class="field form-group">
	<%= manager.label :celular %><br />
	<%= manager.text_field :cellphone, :class => "form-control" %>
</div>
<div class="field form-group">
	<%= manager.label :telefono %><br />
	<%= manager.text_field :phone, :class => "form-control" %>
</div>
<div class="field form-group">
	<%= manager.label :correo_electronico %><br />
	<%= manager.text_field :email, :class => "form-control" %>
</div>