<div class="field form-group">
	<%= manager.label :nombre_completo %><br />
	<%= manager.text_field :name, :class => "form-control", required: true %>
</div>
<div class="field form-group">
	<%= manager.label :numero_de_identificación %><p class="formulario">:  (Solo ingrese números sin espacios)</p>
	<%= manager.text_field :identification, :class => "form-control", required: true %>
</div>
<div class="field form-group">
	<%= manager.label :celular %><p class="formulario">:  (Solo ingrese números sin espacios)</p>
	<%= manager.text_field :cellphone, :class => "form-control", required: true %>
</div>
<div class="field form-group">
	<%= manager.label :telefono %><p class="formulario">:  (Solo ingrese números sin espacios)</p>
	<%= manager.text_field :phone, :class => "form-control" %>
</div>
<div class="field form-group">
	<%= manager.label :correo_electronico %><br />
	<%= manager.text_field :email, :class => "form-control", required: true %>
</div>