<div class="field form-group">
	<%= president.label :nombre_completo %><br />
	<%= president.text_field :name, :class => "form-control" %>
</div>
<div class="field form-group">
	<%= president.label :numero_de_identificación %><br />
	<%= president.text_field :identification, :class => "form-control" %>
</div>
<div class="field form-group">
	<%= president.label :telefono %><br />
	<%= president.text_field :phone, :class => "form-control" %>
</div>
<div class="field form-group">
	<%= president.label :fax %><br />
	<%= president.text_field :fax, :class => "form-control" %>
</div>
<div class="field form-group">
	<%= president.label :celular %><br />
	<%= president.text_field :cellphone, :class => "form-control" %>
</div>
<div class="field form-group">
	<%= president.label :correo_electronico %><br />
	<%= president.text_field :email, :class => "form-control" %>
</div>