<div class="container-fluid new_register">
	<div class="row">
		<div class="col-xs-4 text-center">
			<% if @club.avatar.url == "http://i592.photobucket.com/albums/tt5/Mardini03/red-not-sign-transparent-hi.png" %>
				<%= image_tag "http://i592.photobucket.com/albums/tt5/Mardini03/red-not-sign-transparent-hi.png", class: "club-default-image" %>
			<% else %>
				<%= image_tag @club.avatar.url(:medium) %>
			<% end %>				
		</div>
		<div class="col-xs-4 text-left">
			<h2 class="text-center">CLUB</h2>
			<h4>Nombre: <%= @club.name %></h4>
			<h4>Dirección: <%= @club.address %></h4>
			<h4>Correo del Club: <%= @club.email %></h4>
			<h4>Municipio: <%= @club.municipality %></h4>
			<h4>Telefono: <%= @club.phone %></h4>
			<h4>Celular: <%= @club.cellphone %></h4>
		</div>
		<div class="col-xs-4 text-left">
			<h2 class="text-center">PRESIDENTE</h2>
			<h4>Nombre: <%= @club.president.name %></h4>
			<h4>Cédula: <%= @club.president.identification %></h4>
			<h4>Correo del Presidente: <%= @club.president.email %></h4>
			<h4>Telefono: <%= @club.president.phone %></h4>
			<h4>Fax: <%= @club.president.fax %></h4>
			<h4>Celular: <%= @club.president.cellphone %></h4>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4 text-center" id="club_buttons">
			<%= link_to 'Editar Información del Club', edit_club_path(@club), class: "btn btn-warning" %>
			<%= link_to 'Ir a inscripciones', inscription_index_path, class: "btn btn-success" %>
		</div>
		<div class="col-xs-8 text-left">
			<h2 class="text-center">MANAGER</h2>
			<div class="col-xs-6">
				<h4>Nombre: <%= @club.manager.name %></h4>
				<h4>Cédula: <%= @club.manager.identification %></h4>
				<h4>Correo del Manager: <%= @club.manager.email %></h4>
			</div>
			<div class="col-xs-6">
				<h4>Telefono: <%= @club.manager.phone %></h4>
				<h4>Celular: <%= @club.manager.cellphone %></h4>
			</div>
		</div>
	</div>
</div>