<div class="container">
	Club</br>
	<%= image_tag @club.avatar.url(:medium) %></br>
	<%= @club.name %></br>
	<%= @club.address %></br>
	<%= @club.email %></br>
	<%= @club.municipality %></br>
	<%= @club.phone %></br>
	<%= @club.cellphone %></br></br>
	President</br>
	<%= @club.president.name %></br>
	<%= @club.president.identification %></br>
	<%= @club.president.email %></br>
	<%= @club.president.phone %></br>
	<%= @club.president.fax %></br>
	<%= @club.president.cellphone %></br>
	Manager</br>
	<%= @club.manager.name %></br>
	<%= @club.manager.email %></br>
	<%= @club.manager.phone %></br>
	<%= @club.manager.cellphone %></br>
</div>