<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3" id="new_register">
      <h3 class="text-center">Registre una cuenta para gestionar todas las inscripciones de su club</h3>
      <p class="text-center">Al finalizar el registro del delegado recibira un correo con las instrucciones para proceder con el proceso de inscripción.</p>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field form-group">
          <%= f.label :name %><br />
          <%= f.text_field :name, :class => "form-control" %>
        </div>

        <div class="field form-group">
          <%= f.label :apellidos %><br />
          <%= f.text_field :last_name, :class => "form-control" %>
        </div>

        <div class="field form-group">
          <%= f.label :numero_identificacion %><br />
          <%= f.text_field :identification_number, :class => "form-control" %>
        </div>

        <div class="field form-group">
          <%= f.label :Celular_Solo_ingresa_numeros %>
          <%= f.text_field :cellphone, :class => 'form-control' %>
        </div>

        <div class="field form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, :class => 'form-control' %>
        </div>

        <div class="field form-group">
          <%= f.label :password %>
          <% if @validatable %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
        </div>

        <div class="field form-group">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control' %>
        </div>

        <div class="actions form-group text-center">
          <%= f.submit "Registrar", :class => 'btn btn-lg btn-default' %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>





