<h1><%= @user.name.upcase %> <%= @user.last_name.upcase %></br> Ha realizado una nueva Inscripcion en el sistema de inscripciones de la Liga Antioqueña de Baloncesto</h1>
<p>
  A continuación los detalles de la inscripción</br>

  Información del Club:
</p>
<div>
  <div>
  	<h2>CLUB</h2>
  	<h4>Nombre: <%= @club.name %></h4>
  	<h4>Dirección: <%= @club.address %></h4>
  	<h4>Correo del Club: <%= @club.email %></h4>
  	<h4>Municipio: <%= @club.municipality %></h4>
  	<h4>Telefono: <%= @club.phone %></h4>
  	<h4>Celular: <%= @club.cellphone %></h4>
  </div>
</div>

<div>
  <table>
    <tr>              
      <th>Participante</th>
      <th>Tipo Inscripción</th>
      <th>Documento de Identidad</th>
      <th>Fecha de Nacimiento</th>
      <th>EPS</th>
      <th>Email</th>
    </tr>
    <% @registers.each do |register| %>
      <tr>
        <td><%= register.first_name %> <%= register.second_name %> <%= register.first_last_name %> <%= register.second_last_name %></td>
        <td><%= register.register_type.name %></td>
        <td><%= register.identification %></td>
        <td><%= register.date_of_birth %></td>
        <td><%= register.eps %></td>
        <td><%= register.email %></td>
      </tr>
    <% end %>
  </table>
</div>
<p>
  Para entrar a la plataforma visite el siguiente link: www.eventoslab.com
</p>
<p>Gracias por utilizar nuestros servicioes le deseamos un feliz dia!</p>