<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link type="text/css" rel="stylesheet" href="style.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <h1><%= @user.name.upcase %> <%= @user.last_name.upcase %></br>Ha realizado una nueva Inscripcion en el sistema de inscripciones de la Liga Antioqueña de Baloncesto</h1>
    <p>
      A continuación los detalles de la inscripción</br>

      Información del Club:
    </p>
    <div class="row">
      <div class="col-xs-4 col-xs-offfset-4 text-left">
      	<%= image_tag @club.avatar.url(:medium) %>
      	<h2 class="text-center">CLUB</h2>
      	<h4>Nombre: <%= @club.name %></h4>
      	<h4>Dirección: <%= @club.address %></h4>
      	<h4>Correo del Club: <%= @club.email %></h4>
      	<h4>Municipio: <%= @club.municipality %></h4>
      	<h4>Telefono: <%= @club.phone %></h4>
      	<h4>Celular: <%= @club.cellphone %></h4>
      </div>
    </div>

    <div class="row">
      <table class="table table-hover">
        <tr class="info">
          <th class="text-center">Imagen</th>               
          <th class="text-center">Participante</th>
          <th class="text-center">Tipo Inscripción</th>
          <th class="text-center">Documento de Identidad</th>
          <th class="text-center">Fecha de Nacimiento</th>
          <th class="text-center">EPS</th>
          <th class="text-center">Email</th>
        </tr>
        <% @registers.each do |register| %>
          <tr class="text-center">
            <td class="vert-align"><%= image_tag register.avatar.url(:thumb) %></td>
            <td class="text-left vert-align"><%= register.first_name %> <%= register.second_name %> <%= register.first_last_name %> <%= register.second_last_name %></td>
            <td class="vert-align"><%= register.register_type.name %></td>
            <td class="vert-align"><%= register.identification %></td>
            <td class="vert-align"><%= register.date_of_birth %></td>
            <td class="vert-align"><%= register.eps %></td>
            <td class="vert-align"><%= register.email %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <p>
      Para entrar a la plataforma visite el siguiente link: www.eventoslab.com
    </p>
    <p>Gracias por utilizar nuestros servicioes le deseamos un feliz dia!</p>
  </body>
</html>