<h1><%= @user.name.upcase %> <%= @user.last_name.upcase %></br> Bienvenido al sistema de inscripciones de la Liga Antioque침a de Baloncesto</h1>
<p>
  El registro de su Club ha sido completado con exito, para gestionar las inscripciones de este debe ingresar a la plataforma con los datos enviados anteriormente al momento de realizar su inscripci칩n.</br>

  Informaci칩n del Club:
</p>
<div>
	<h2>CLUB</h2>
	<h4>Nombre: <%= @club.name %></h4>
	<h4>Direcci칩n: <%= @club.address %></h4>
	<h4>Correo del Club: <%= @club.email %></h4>
	<h4>Municipio: <%= @club.municipality %></h4>
	<h4>Telefono: <%= @club.phone %></h4>
	<h4>Celular: <%= @club.cellphone %></h4>
</div>
<p>
  Para entrar a la plataforma visite el siguiente link: www.eventoslab.com
</p>
<p>Gracias por utilizar nuestros servicioes le deseamos un feliz dia!</p>