<div class="container-fluid">
	<div class="row">
		<div class="col-xs-4 col-xs-offset-4">
			<table class="table">
				<tr>
					<th>Numero de Clubs: </th>
					<td class="text-center"><%= @clubs %></td>
				</tr>
				<tr>
					<th>Numero de Presidentes: </th>
					<td class="text-center"><%= @presidents %></td>
				</tr>
				<tr>
					<th>Numero de Managers: </th>
					<td class="text-center"><%= @managers %></td>
				</tr>
				<tr>
					<th>Numero de Canchas: </th>
					<td class="text-center"><%= @fields %></td>
				</tr>
				<tr>
					<th>Numero de Equipos Inscritos: </th>
					<td class="text-center"><%= @inscriptions %></td>
				</tr>
				<tr>
					<th>Numero de Jugadores: </th>
					<td class="text-center"><%= @players %></td>
				</tr>
				<tr>
					<th>Numero de Entrenadores: </th>
					<td class="text-center"><%= @coaches %></td>
				</tr>
			</table>
		</div>
	</div>
</div>