<% @registers.each do |register| %>
	<div class="carnet_lab">
		<p class="register_type"><%= register.register_type.name %></p>
		<p class="register_name"><%= register.first_name %> <%= register.second_name %> <%= register.first_last_name %> <%= register.second_last_name %></p>
		<p class="register_identification">Documento Identidad: <%= register.identification %></p>
		<%= image_tag register.avatar.url(:medium), class: "register_image" %>	
		<p class="register_date"><%= register.date_of_birth %></p>
	</div>
<% end %>


<div class="carnet_lab1">

</div>
