<div class="container-fluid">
	<div class="row">
		<h4 class="text-center">INGRESE LOS DATOS A CONTINUACIÓN PARA BUSCAR UN REGISTRO EN LA BASE DE DATOS</h4>
			<%= form_tag search_register_path, method: :get do %>
				<div class="col-xs-6">
				  <div class="form-group">
				    <%= select_tag :register_type_id, options_from_collection_for_select(RegisterType.all, "id", "name", params[:register_type_id]), prompt: "Selecction el tipo de Registro", class: "form-control" %>
				  </div>
				  <div class="form-group">
			      <%= text_field_tag :identification, params[:identification], class: "form-control", placeholder: "Ingrese numero de identificación" %>
			    </div>
		  	</div>
		  	<div class="col-xs-3">
  			  <div class="form-group">
  		      <%= text_field_tag :first_name, params[:first_name], class: "form-control", placeholder: "Primer Nombre" %>
  		    </div>
  		    <div class="form-group">
  		      <%= text_field_tag :first_last_name, params[:first_last_name], class: "form-control", placeholder: "Primer Apellido" %>
  		    </div>  		    
  		  </div>
				<div class="col-xs-3">
					<div class="form-group">
					  <%= text_field_tag :second_name, params[:second_name], class: "form-control", placeholder: "Segundo Nombre" %>
					</div>  		    
  		    <div class="form-group">
  		      <%= text_field_tag :second_last_name, params[:second_last_name], class: "form-control", placeholder: "Segundo Apellido" %>
  		    </div>
		  	</div>
		  	<div class="action form-group text-center">
			  	<%= submit_tag "Buscar", name: nil, class: "btn btn-success" %>		  		
		  	</div>
			<% end %>
		<% if !@registers.blank? %>
			<div class="col-xs-12">	
				<table class="table table-hover">
					<tr class="info">
						<th class="text-center">Participante</th>
						<th class="text-center">Tipo Inscripción</th>
						<th class="text-center">Documento de Identidad</th>
						<th class="text-center">Fecha de Nacimiento</th>
						<th class="text-center">EPS</th>
						<th class="text-center">Email</th>
						<th class="text-center">Club</th>
					</tr>
					<% @registers.each do |register| %>
						<tr class="text-center">
							<td class="text-left"><%= register.first_name %> <%= register.second_name %> <%= register.first_last_name %> <%= register.second_last_name %></td>
							<td><%= register.register_type.name %></td>
							<td><%= register.identification %></td>
							<td><%= register.date_of_birth %></td>
							<td><%= register.eps %></td>
							<td><%= register.email %></td>
							<td><%= Club.find(Inscription.find(register.inscription_id).club_id).name %></td>
						</tr>
					<% end %>
				</table>
			</div>
		<% else %>
			<h4 class="text-center">NO SE ENCONTRÓ NINGÚN RESULTADO ASOCIADO A ESTA BUSQUEDA</h4>
		<% end %>		
	</div>
</div>