<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 new_register">
      <h2>Cambio de contraseña</h2>
      <p class="text-justify">Ha solicitado un cambio de contraseña, para reestablecerla complete los siguientes campor, porfavor conserve su nueva contraseña en un sitio seguro, para una mejor experiencia dentro de la plataforma.</p>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>

        <div class="field form-group">
          <%= f.label :password, "Nueva contraseña" %><br />
          <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control" %>
        </div>

        <div class="field form-group">
          <%= f.label :password_confirmation, "Confirme su nueva contraseña" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
        </div>

        <div class="actions form-group text-center">
          <%= f.submit "Cambiar mi contraseña", class: "btn btn-success" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>