<%= form_for(@inscription, :html => { :id => "inscriptionForm"}) do |inscription| %>
	<%= inscription.hidden_field :club_id, value: params[:club_id] %>
	<%= inscription.hidden_field :tournament_id, value: params[:tournament_id] %>
	<%= inscription.fields_for :registers do |r| %>
		<%= render 'register_form_edit', :register => r %>
	<% end %>
	<%= link_to_add_registers "Agregar participante", inscription, :registers %>
	<div class="actions form-group text-center">
		<%= link_to "Cancelar Inscripción", inscription_index_path, class: "btn btn-lg btn-danger" %>
		<%= inscription.submit "Guardar Inscripción", :class => 'btn btn-lg btn-success' %>
	</div>
<% end %>

<script>
$(document).on("page:change", function() {
	$("#inscriptionForm").validate({
		errorPlacement: function(label, element) {
      label.addClass('inscription-error');
      label.insertAfter(element);
	  },
	  wrapper: 'span'
		});

	jQuery.extend(jQuery.validator.messages, {
	    required: "X"
	});
});
</script>