<%= form_for(@inscription) do |inscription| %>
	Club: <%= @club.name %><br/>
	Torneo: <%= Tournament.find(@tournament_id).name %>
	<%= inscription.hidden_field :club_id, value: params[:club_id] %>
	<%= inscription.hidden_field :tournament_id, value: params[:tournament_id] %>
	<%= inscription.fields_for :registers do |r| %>
		<%= render 'register_form', :register => r %>
	<% end %>
	<%= link_to_add_registers "Agregar participante", inscription, :registers %>
	<div class="actions form-group text-center">
	  <%= inscription.submit "Finalizar Inscripción", :class => 'btn btn-lg btn-default' %>
	</div>
<% end %>