<%= form_for(@inscription, :html => { :id => "inscriptionForm"}) do |inscription| %>
	<%= inscription.hidden_field :club_id, value: params[:club_id] %>
	<%= inscription.hidden_field :tournament_id, value: params[:tournament_id] %>
	<%= inscription.fields_for :registers do |r| %>
		<%= render 'register_form', :register => r %>
	<% end %>
	<%= link_to_add_registers "Agregar participante", inscription, :registers %>
	<div class="actions form-group text-center">
	  <%= inscription.submit "Finalizar Inscripción", :class => 'btn btn-lg btn-success' %>
	</div>
<% end %>

<script>
	$("#inscriptionForm").validate();
</script>