<div class="col-xs-12">
	<fieldset class="form-group">
		<div class="player">
			<div class="form-group">
				<%= register.label :primer_nombre %>
				<%= register.text_field :first_name %>
				<%= register.label :segundo_nombre %>
				<%= register.text_field :second_name %>
				<%= register.label :primer_apellido %>
				<%= register.text_field :first_last_name %>
				<%= register.label :segundo_apellido %>
				<%= register.text_field :second_last_name %>
			</div>
			<div>
				<div class="inline-register">
					<%= register.label :imagen %>
				  <%= register.file_field :avatar, class: "inline-register" %>
				</div>
				<div class="inline-register">
				 	<%= register.label :documento_de_identidad %>
					<%= register.text_field :identification %>
				</div>
			</div>
			<div class="form-group">
				<%= register.label :tipo_de_inscripción %>
				<%= register.collection_select :register_type_id, RegisterType.all, :id, :name, {prompt: 'Seleccione un tipo'} %>
				<%= register.label :fecha_de_nacimiento %>
				<%= register.date_select :date_of_birth, { order: [:day, :month, :year], start_year: 1940, include_blank: true } %>
				<%= register.label :Eps %>
				<%= register.text_field :eps %>
				<%= register.label :email %>
				<%= register.text_field :email %>
			</div>
			<div class="form-group">					
				<%= register.hidden_field :_destroy %>
				<%= link_to "Borrar Participante", "#", class: "remove_field btn btn-danger" %>
			</div>
		</div>
	</fieldset>
</div>