<div class="container-fluid">
	<div class="row">
		<table class="table">
			<tr>
				<th class="text-center">TORNEO</th>
				<th class="text-center">ESTADO</th>
				<th class="text-center">OPCIONES</th>
			</tr>
			<% Tournament.all.each do |tournament| %>
				<% if @inscriptions.pluck(:tournament_id).include?(tournament.id) %>
					<tr class="success">
						<td class="text-center vert-align"><%= tournament.name %></td>
						<td class="text-center vert-align"><strong>INSCRITO</strong></td>
						<td class="text-center vert-align">
							<%= link_to "Ver", @inscriptions.find_by_tournament_id(tournament.id) , class: "btn btn-primary" %> <%= link_to "Editar", edit_inscription_path(@inscriptions.find_by_tournament_id(tournament.id), :tournament_id => "#{tournament.id}", :club_id=> "#{current_user.club.id}"), class: "btn btn-warning" %> 

								<%= link_to inscription_path(@inscriptions.find_by_tournament_id(tournament.id)), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" do %><span>Eliminar</span><% end %>
						</td>
					</tr>
				<% else %>
					<tr class="danger">
						<td class="text-center vert-align"><%= link_to "#{tournament.name}", inscription_welcome_path(:tournament_id => "#{tournament.id}", :club_id=> "#{current_user.club.id}" ) %></td>
						<td class="text-center vert-align"><strong>NO INSCRITO</strong></td>
						<td class="text-center vert-align">
							<%= link_to "Realizar Inscripción", inscription_welcome_path(:tournament_id => "#{tournament.id}", :club_id=> "#{current_user.club.id}" ), class: "btn btn-success" %>
						</td>
					</tr>
				<% end %>
			<% end %>
		</table>
	</div>
</div>