
<fieldset class="form-group">
	<div class="form-group">
		<%= hour.label :dia %>
		<%= hour.select :day, options_for_select(FieldHour.days.keys), { } %>
		<%= hour.label :hora_apertura %>
		<%= hour.time_select :open_hour, {ampm: true, minute_step: 15, :default => {:hour => '06', :minute => '00'} } %>
		<%= hour.label :hora_cierre %>
		<%= hour.time_select :closing_time, {ampm: true, minute_step: 15, :default => {:hour => '18', :minute => '00'} } %>		
		<%= hour.hidden_field :_destroy %>
		<%= link_to "Borrar Horario", "#", class: "remove_field btn btn-xs btn-danger" %>
	</div>
</fieldset>